<%= @name1 %> vs. <%= @name2 %>

<form name="input" action="/attack" method="post">
  <input type="submit" value="Shank Fool">
</form>

<h1> <%=@name1%> HP: <%=@hp1%> <h1>
<h1> <%=@name2%> HP: <%=@hp2%> <h1>